/* global variables */
:root {
    --ff-website: 'Roboto';
    --clr-text: white;


    --main-color: #DF500A;
    --accent-color: #FF8242;

    --ff-logo: 1.2rem;
    --ff-nav: 1rem;
    --ff-maintitle: 2rem;
    --ff-subtext: 0.8rem;
    --ff-button: 0.5rem;

    --Lh-main: 1.3rem;
    --Lh-sub: 0.8rem;
}

*, *:before, *::after {box-sizing: inherit};

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-website);
    color: var(--clr-text);
    background-image: url(/images/racingcar.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* styling container header */

header {
    text-align: center;
    position: relative;
    z-index: 999;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

/* styling BFast logo */

header h1 {
    text-align: left;
    margin-left: 1rem;
    color: var(--accent-color);
}

header h1::first-letter {
    color: var(--main-color);
}

header span {
    color: white;
}

/* styling navbar */

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    right: 0;
    display: none;
    background-color: black;
    width: 75%;
}

nav a:hover {
    color: var(--main-color);
}

ul, a {
    list-style: none;
    text-align: right;
    text-decoration: none;
    color: var(--clr-text);
    padding: 0;
    margin: 0;
    font-size: var(--ff-subtext);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/* mobile toggle */

.nav-switch:checked ~ nav {
    display: block;
}

.nav-switch {
    display: none;
}

.nav-switch-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-switch-label span,
.nav-switch-label::before,
.nav-switch-label::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.5rem;
    border-radius: 3px;
    position: relative;
}

.nav-switch-label::before,
.nav-switch-label::after {
    content: '';
    position: absolute;
}

.nav-switch-label::before {
    bottom: 10px;
}

.nav-switch-label::after {
    top: 10px;
}